<div class="md:w-[60%]  h-screen m-auto relative">
    <div *ngIf="loading" class="h-[70px]  m-auto aspect-square border-teal-400 border-t-2 rounded-full animate-spin"></div>
    <app-profile-view [isMe]="true"  [profileData]="profileData"></app-profile-view>
</div>
<div [ngClass]="service.isEdit ?'top-0':'top-[100%]'" class=" left-0 post fixed z-1000 h-screen bg-[#04e7e745] w-screen backdrop-blur-[5px]">
    <div class="flex flex-col justify-center items-center h-full w-full">
        
        <div class="border-2 main-box bg-[#ffffff41] rounded-2xl w-[50%] relative min-h-[30vh]">
            <button (click)="service.closeEdit()" class="absolute bg-red-500 top-[-20%]  aspect-square w-[30px] h-[30px] rounded-full  right-0">X</button>
            <p class="absolute left-0 p-1 top-[-20%] text-2xl font-bold">Add Post</p>
            <div class="flex flex-col p-5">
                <label for="">ImageUrl</label>
                <input [(ngModel)]="imageUrl" type="text" class="py-4 rounded-xl mb-5 px-2 bg-[#03034c24]" placeholder="enter image url" name="" id="">
                <label for="">Caption</label>
                <input [(ngModel)]="caption" type="text" class="py-4 mb-5 rounded-xl px-2 bg-[#03034c24]" placeholder="enter caption" name="" id="">
                <button (click)="createPost()" class="bg-blue-400 py-4">Post</button>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="service.isStoryEdit ?'top-0':'top-[100%]'" class=" left-0 post fixed z-1000 h-screen bg-[#e7750445] w-screen backdrop-blur-[5px]">
    <div class="flex flex-col justify-center items-center h-full w-full">
        
        <div class="border-2 main-box bg-[#ffffff41] rounded-2xl w-[50%] relative min-h-[25vh]">
            <button (click)="service.closeEditStory()" class="absolute bg-red-500 top-[-20%]  aspect-square w-[30px] h-[30px] rounded-full  right-0">X</button>
            <p class="absolute left-0 p-1 top-[-20%] text-2xl font-bold">Add Story</p>
            <div class="flex flex-col p-5">
                <label for="">ImageUrl</label>
                <input [(ngModel)]="imageUrlStory" type="text" class="py-4 rounded-xl mb-5 px-2 bg-[#03034c24]" placeholder="enter image url" name="" id="">
                <button (click)="createStory()" class="bg-blue-400 py-4">Post</button>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="service.isEditProfile ?'top-0':'top-[100%]'" class=" left-0 post fixed z-1000 h-screen bg-[#00ff884f] w-screen backdrop-blur-[15px]">
    <div class="flex flex-col justify-center items-center h-full w-full">
        
        <div class="border-2 main-box bg-[#ffffff41] rounded-2xl w-[50%] relative min-h-[25vh]">
            <button (click)="service.closeEditProfile()" class="absolute bg-red-500 top-[-20%]  aspect-square w-[30px] h-[30px] rounded-full  right-0">X</button>
            <p class="absolute left-0 p-1 top-[-20%] text-2xl font-bold">Edit Profile</p>
            <div class="flex flex-col p-5">
                <label for="">Bio</label>
                <input  [(ngModel)]="userBio" type="text" class="py-4 rounded-xl mb-5 px-2 bg-[#03034c24]" name="" id="">
                <label for="">Profile pic</label>
                <input [(ngModel)]="profileImageUrl" type="text" class="py-4 rounded-xl mb-5 px-2 bg-[#03034c24]" placeholder="no profile pic"  name="" id="">
                <label for="">Full Name</label>
                <input [(ngModel)]="fullname" type="text" class="py-4 rounded-xl mb-5 px-2 bg-[#03034c24]"  name="" id="">
                <button (click)="updateProfile()" class="bg-red-400 py-4">Update</button>
            </div>
        </div>
    </div>
</div>