<div class="md:w-[60%] text-center m-auto">
    <div class="relative">
        <div class="absolute right-0 top-2  items-center flex" (click)="service.clear()"><button>Clear</button><i class="fa-solid fa-rotate-right"></i></div>
        <p class="text-4xl">Search Posts</p>
            
        </div>
    <div class="h-[70px] w-[70px] mt-12 aspect-square m-auto border-t-2 border-t-blue-500 rounded-full animate-spin"
      *ngIf="service.loadingPosts"></div>
    <div class="flex m-auto md:hidden justify-between items-center rounded-[5px] overflow-hidden bg-gray-300 h-[40px] w-[80%]">
        <input [(ngModel)]="service.searchInput"  type="text" placeholder="Search caption" class="md:hidden w-[90%] h-full" name="" id="">
        <button (click)="service.searchHandler()" class="bg-gray-400 h-full w-[20%] flex">
            <i class="fa-solid fa-magnifying-glass m-auto"></i>

        </button>
    </div>
    <div *ngIf="service.searchPosts.length===0" class="flex flex-col min-h-[50vh] justify-center items-center">
        <img class="w-[50%]" src="download.png" alt="">
        <p class="text-2xl text-gray-400">Search results will be here </p>
    </div>
    <div *ngIf="service.searchPosts.length!==0" class="">
        <div  *ngFor="let sp of service.searchPosts">
            <app-posts [i]="sp"></app-posts>
        </div>
    </div>
</div> 
